/* .movie-container{
  margin-top: 12px;
  border-radius: 30px;
  width:340px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height:min-content;
}
.movie-specs{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name{
  margin-left:10px;
  padding-left: 20px;
  margin:0;
  font-size:24px;
}
*/
* {
  padding: 0;
  margin: 0;
}

.title {
  background-color: orangered;

}

.foo {
  font-weight: bold;
  color: white;
}

.logo-image {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;

}

.company-header {
  display: flex;
  justify-content: center;
  /* margin: 10px; */
  align-items: center;
  text-align: center;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  background-color: white;
  padding: 20px;
}

.contact {

  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #044D72;
}

.screen-container {
  background-color: bisque;
  min-height: 100vh;
  padding: 30px;
}

.home-title {
  text-align: center;
}